[DEFAULT]
DEFAULT_ICON = 
EMPTY_WS =
DEBUG = false

[icons]
FA_BOOK = 
FA_CHROME = 
FA_CODE = 
FA_FILE_PDF_O = 
FA_FILE_TEXT_O = 
FA_FILE_WORD_O = 
FA_FILE_EXCEL_O = 
FA_FILE_POWERPOINT_O = 
FA_FOLDER = 
FA_FONT = 
FA_FIREFOX = 
FA_LOCK = 
FA_USER_SECRET = 
FA_MUSIC = 
FA_PAINT_BRUSH = 
FA_PENCIL = 
FA_PICTURE_O = 
FA_TERMINAL = 
FA_DOWNLOAD = 
FA_DESKTOP = 
FA_EYE = 
FA_REBEL = 
FA_KEY = 
FA_TASKS = 
FA_COGS = 
FA_PRODUCT_HUNT = 
FA_SEARCH = 
FA_YOUTUBE_PLAY = 
FA_COMMENT_O = 
FA_WINDOWS = 
FA_LINUX = 
FA_BTC = 
FA_GLOBE = 
FA_FLOPPY = 
FA_SKYPE = 

[applications]
urxvt256c = ${icons:FA_TERMINAL}
urxvt256cc = ${icons:FA_TERMINAL}
gnome-terminal-server = ${icons:FA_TERMINAL}
kitty = ${icons:FA_TERMINAL}
alacritty = ${icons:FA_TERMINAL}
xterm = ${icons:FA_TERMINAL}
st-256color = ${icons:FA_TERMINAL}
google-chrome = ${icons:FA_CHROME}
chromium-browser = ${icons:FA_CHROME}
chromium-freeworld = ${icons:FA_CHROME}
subl = ${icons:FA_CODE}
subl3 = ${icons:FA_CODE}
firefox = ${icons:FA_FIREFOX}
firefox developer edition = ${icons:FA_FIREFOX}
tor browser = ${icons:FA_REBEL}
libreoffice-startcenter = ${icons:FA_FILE_TEXT_O}
libreoffice = ${icons:FA_FILE_TEXT_O}
libreoffice-writer = ${icons:FA_FILE_WORD_O}
libreoffice-calc = ${icons:FA_FILE_EXCEL_O}
libreoffice-impress = ${icons:FA_FILE_POWERPOINT_O}
jetbrains-idea-ce = ${icons:FA_CODE}
code = ${icons:FA_CODE}
feh = ${icons:FA_PICTURE_O}
sxiv = ${icons:FA_PICTURE_O}
nitrogen = ${icons:FA_PICTURE_O}
mupdf = ${icons:FA_FILE_PDF_O}
evince = ${icons:FA_FILE_PDF_O}
org.gnome.nautilus = ${icons:FA_FOLDER}
transmission-gtk = ${icons:FA_DOWNLOAD}
vlc = ${icons:FA_YOUTUBE_PLAY}
mpv = ${icons:FA_YOUTUBE_PLAY}
calibre-gui = ${icons:FA_BOOK}
calibre = ${icons:FA_BOOK}
org.remmina.remmina = ${icons:FA_DESKTOP}
x2goclient = ${icons:FA_DESKTOP}
x2goagent = ${icons:FA_DESKTOP}
skype = ${icons:FA_SKYPE}
nxagent = ${icons:FA_DESKTOP}
pyhoca-gui = ${icons:FA_DESKTOP}
wireshark = ${icons:FA_EYE}
seahorse = ${icons:FA_KEYs
gimp-2.8 = ${icons:FA_PAINT_BRUSH}
gimp-2.10 = ${icons:FA_PAINT_BRUSH}
virt-manager = ${icons:FA_TASKSs
virt-viewer = ${icons:FA_WINDOWS}
gnome-boxes = ${icons:FA_WINDOWS}
gnome-font-viewer = ${icons:FA_FONT}
nm-connection-editor = ${icons:FA_COGS}
crx_bikioccmkafdpakkkcpdbppfkghcmihk = ${icons:FA_COMMENT_O}
electrum = ${icons:FA_BTC}
qutebrowser = ${icons:FA_GLOBE}
teamviewer = ${icons:FA_DESKTOP}
uzbl-core = ${icons:FA_GLOBE}
com-sonicwall-netextender = ${icons:FA_LOCK}
packettracer7 = ${icons:FA_PRODUCT_HUNT}
filezilla = ${icons:FA_FLOPPY}
com-install4j-runtime-launcher-UnixLauncher = ${icons:FA_USER_SECRET}
krita = ${icons:FA_PENCIL}
